*{
	margin: auto;
}

#Alert {
    height: 0px;
    width: 100%;
    text-align: center;
}

#Alert a {
    text-decoration: none;
}

#Alert a:hover {
    text-decoration: underline;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/background.png");
    color: #777777;
}

h1, h2, h3, h4, h5 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

nav {
    width: 100%;
    background: white;
    height: 80px;
    border-bottom: 2px #cccccc solid;
    color: #cccccc;
}

nav a {
    text-decoration: none;
    color: #666666;
    line-height: 80px;
    margin: 0 20px;
}

nav a:nth-child(3) {
    margin-right: 0;
}

nav a:hover {
    text-decoration: underline;
    color: #000000;
}

#nav-container {
    	width: 960px;
}

#name {
    width: 250px;
    background: #4aaaa5;
    height: 80px;
    float: left;
    text-align: center;
    line-height: 80px;
    color: white;
}

#nav {
    float: right;
}

main {
    margin: 40px auto;
    width: 960px;
}

section {
    border: 1px #cccccc solid;
    width: 650px;
    float: left;
    background: white;
    margin-bottom: 40px;
}

#content {
    margin: 40px auto;
    width: 586px;
}

p {
    top: -2px;
    font-size: 24px;
}

aside {
    border: 1px #cccccc solid;
    width: 270px;
    float: right;
    background: white;
}

h2 {
    color: #4aaaa5;
    font-size: 22px;
}

hr {
    border: 0;
    height: 2px;
    background: #cccccc;
    margin: 20px 0;
}

#nav-content {
    width: 210px;
    margin: 30px auto 120px;
}

#nav-content img {
    border: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    display: inline;
    float: left;
}

.image-margin {
    margin-left: 15px !important;
}

a:hover img {
    opacity: 0.5;
}

header {
    color: #4aaaa5;
    height: 50px;
    line-height: 30px;
    border-bottom: 3px #ccc solid;
    margin-bottom: 30px;
}

img {
    display: inline-block;
    float: left;
    margin: 0 25px 0 0;
    width: 200px;
    height: 152px;
}

footer {
    width: 100%px;
    height: 95px;
    background: #666666;
    clear: both;
    border-top: 10px #4aaaa5 solid;
}

#footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#copyright {
    text-align: center;
    line-height: 95px;
    color: #cccccc;
}

.hangman {
    background-image: url("http://lorempixel.com/g/275/205/");
    width: 275px;
    height: 205px;
    float: left;
    border: 0;
}

.hangman:nth-child(2) {
    margin-left: 36px;
}

.hangman a {
    text-decoration: none;
    color: white;
}

.hangman a:hover {
    text-decoration: underline;
    color: white;
}

.hangman > a > h2 {
    border: 0;
    position: relative;
    top: 130px;
    width: 100%;
    text-align: center;
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    background: #4aaaa5;
    color: white;
    font-weight: normal;
}

.portfolio-row {
    border: 0;
    height: 205px;
    margin-bottom: 60px;
}

input {
    width: 574px;
    height: 35px;
    float: left;
    border: 1px #cccccc solid;
    padding-left: 10px;
    color: #cccccc;
}

input:focus {
	border: 1px #4aaaa5 solid;
	outline: none;
}

input::placeholder {
    color: #cccccc;
}

label:not(:first-child) {
    float: left;
    margin-top: 20px;
    display: inline-block;
}

textarea {
    float: left;
    margin: 0 0 20px;
    display: inline-block;
    border: 1px #cccccc solid;
    color: #cccccc;
    padding-left: 10px;
    width: 572px;
}

textarea:focus {
	border: 1px #4aaaa5 solid;
	outline: none;
}

textarea::placeholder {
	color: #cccccc;
}

#submit {
    width: 115px;
    background: #4aaaa5;
    border: 0;
    color: white;
    font-size: 17px;
    margin-bottom: 40px;
}

#submit:hover {
	opacity: 0.75;
	cursor: pointer;
}